.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  background-color: rgb(236, 236, 236);
  border-bottom: 2px solid rgb(194, 194, 194);

  .logo-container {
    height: 100%;
    // width: 70px;
    padding: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .logo-container p {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 2.7rem;
  }

  .logo-container p:hover {
    color: rgb(114, 45, 199);
    transition: 0.5s;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      font-family: "Dancing Script", cursive;
      font-weight: bold;
    }

    .nav-link:hover {
      color: rgb(114, 45, 199);
      transition: 0.5s;
    }
  }
}
