.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  background-color: rgb(239, 239, 239);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: sticky;
  top: 0;
  z-index: 1;

  .logo-container {
    height: 100%;
    // width: 70px;
    padding: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    width: 40px;
    border-radius: 4px;
  }

  .logo-container p {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 2.7rem;
  }

  .logo-container p:hover {
    color: rgb(202, 55, 22);
    transition: 0.5s;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      font-family: "Dancing Script", cursive;
      font-weight: bold;
    }

    .nav-link:hover {
      color: rgb(202, 55, 22);
      transition: 0.5s;
    }

    .darkmode {
      background-color: #1a1a1a;
      border-radius: 25px;
      border: 1px solid black;
      padding: 3px;
    }

    .lightmode {
      background-color: #fff;
      border-radius: 25px;
      border: 1px solid rgb(255, 255, 255);
      padding: 3px;
    }
  }
}

.navAtDarkMode {
  backdrop-filter: blur(9px);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(57, 56, 56, 0.21);

  .logo-container p {
    color: white;
  }

  .nav-link {
    color: white;
  }
}

.navAtLightMode {
  backdrop-filter: blur(9px);
  background-color: rgba(255, 255, 255, 0.003);
  color: #000000;
}
