.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  // border: 1px solid;
  text-align: center;
  background-color: burlywood;
  margin: 10px;
  padding: 15px;
  border-radius: 7px;
  justify-content: center;
  height: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  

  h2 {
    margin: 10px 0;
  }

  span {
    font-size: 18px;
    font-weight: 500;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: -10px 0 15px 0;
  }
}
