.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  padding: 0 15px;
}

.category-title {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}

@media (max-width: 1150px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .category-container {
    grid-template-columns: repeat(1, 1fr);
  }
}