body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Dancing Script", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

body{
  overflow-y: scroll;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(231, 77, 77);
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
}

.darkmode{
  background-color: #1a1a1a;
}

// .lightmode{
//   background-color: #fff;
// }